<main class="container">
  <section class="header">
    <h1>{{ title() }}</h1>

    <img [src]="imagemAngular" alt="Logo do Angular" width="80">

    <p>Estudante: {{ estudante() }}</p>
    <p>Curso: {{ curso() }}</p>
    <p>Turno: {{ turno() }}</p>

    <p>Quantidade de tarefas: {{ quantidadeTarefas() }}</p>

    <p>{{ mensagemResumo() }}</p>
  </section>

  <section class="acoes">
    <button (click)="alterarEstudante()">Alterar estudante</button>

    <button (click)="alterarCurso()">Alterar curso</button>

    <button (click)="adicionarTarefa()">Adicionar tarefa</button>

    <button
      (click)="removerTarefa()"
      [disabled]="botaoRemoverDesabilitado()">
      Remover tarefa
    </button>
  </section>

  <section class="lista">
    @if (tarefas().length > 0) {
      @for (tarefa of tarefas(); track tarefa.id) {
        <app-tarefa-card
          [nome]="tarefa.nome"
          [status]="tarefa.status" />
      }
    } @else {
      <p>Nenhuma tarefa cadastrada.</p>
    }

  </section>
</main>
